In [1]:
import numpy as np
import pandas as pd

In [2]:
L = pd.read_csv("data_worldbank.csv")

In [3]:
L.head()

,End of Period,Credit Number,Region,Country Code,Country,Credit Status,Project ID,Project Name,Original Principal Amount (US$),Cancelled Amount (US$),Undisbursed Amount (US$),Disbursed Amount (US$),Repaid to IDA (US$),Due to IDA (US$),Borrower's Obligation (US$),Board Approval Date,Effective Date (Most Recent)
0,05/31/2019 12:00:00 AM,IDA3546A,AFRICA,TZ,Tanzania,Fully Repaid,P073397,TZ-Lower Kihansi Env Mgmt TAL (FY02),1.633688e+06,0.00,0.00,1.872362e+06,1905929.94,0.000000e+00,0.000000e+00,07/03/2001 12:00:00 AM,09/18/2001 12:00:00 AM
1,11/30/2019 12:00:00 AM,IDA14530,MIDDLE EAST AND NORTH AFRICA,RY,"Yemen, Republic of",Repaying,P005789,CENTRAL HIGHLANDS AG. DEV.,8.000000e+06,1842832.13,0.00,7.658934e+06,5090428.28,3.461606e+06,3.461606e+06,03/27/1984 12:00:00 AM,05/01/1985 12:00:00 AM
2,07/31/2018 12:00:00 AM,IDA57590,AFRICA,LR,Liberia,Effective,P149683,Liberia Renewable Energy Access Project,2.000000e+06,0.00,2107305.00,0.000000e+00,0.00,0.000000e+00,0.000000e+00,01/11/2016 12:00:00 AM,10/03/2017 12:00:00 AM
3,06/30/2018 12:00:00 AM,IDA38600,MIDDLE EAST AND NORTH AFRICA,RY,"Yemen, Republic of",Repaying,P074413,RY-Groundwater & Soil Conserv Proj,4.000000e+07,0.00,0.00,4.120819e+07,3477649.23,3.468742e+07,3.468742e+07,02/26/2004 12:00:00 AM,08/17/2004 12:00:00 AM
4,04/30/2012 12:00:00 AM,IDA38430,EAST ASIA AND PACIFIC,VN,Vietnam,Disbursing,P059663,VN-ROAD NETWORK IMPROVEMT,2.252600e+08,24171964.90,17304070.09,1.000000e+08,0.00,1.995946e+08,1.995946e+08,12/18/2003 12:00:00 AM,10/25/2004 12:00:00 AM

In [4]:
L.duplicated().sum()

5

In [5]:
L.drop_duplicates(inplace=True)

In [6]:
L.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19995 entries, 0 to 19999
Data columns (total 17 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   End of Period                    19995 non-null  object
 1   Credit Number                    19995 non-null  object
 2   Region                           19995 non-null  object
 3   Country Code                     19995 non-null  object
 4   Country                          19995 non-null  object
 5   Credit Status                    19995 non-null  object
 6   Project ID                       19995 non-null  object
 7   Project Name                     19995 non-null  object
 8   Original Principal Amount (US$)  19995 non-null  float64
 9   Cancelled Amount (US$)           19995 non-null  float64
 10  Undisbursed Amount (US$)         19995 non-null  float64
 11  Disbursed Amount (US$)           19995 non-null  float64
 12  Repaid to IDA (US$)              19995 non-null  float64
 13  Due to IDA (US$)                 19995 non-null  float64
 14  Borrower's Obligation (US$)      19995 non-null  float64
 15  Board Approval Date              19994 non-null  object
 16  Effective Date (Most Recent)     19783 non-null  object
dtypes: float64(7), object(10)
memory usage: 2.7+ MB

In [7]:
L.isnull().sum()

End of Period                        0
Credit Number                        0
Region                               0
Country Code                         0
Country                              0
Credit Status                        0
Project ID                           0
Project Name                         0
Original Principal Amount (US$)      0
Cancelled Amount (US$)               0
Undisbursed Amount (US$)             0
Disbursed Amount (US$)               0
Repaid to IDA (US$)                  0
Due to IDA (US$)                     0
Borrower's Obligation (US$)          0
Board Approval Date                  1
Effective Date (Most Recent)       212
dtype: int64

In [8]:
L.dropna(subset=['Board Approval Date', 'Effective Date (Most Recent)'], inplace=True)

In [9]:
L.drop(columns=["Country Code", "Borrower's Obligation (US$)"], inplace=True)

In [10]:
new_columns = {
    'Original Principal Amount (US$)': 'Original Principal Amount',
    'Undisbursed Amount (US$)': 'Undisbursed Amount',
    'Disbursed Amount (US$)': 'Disbursed Amount',
    'Repaid to IDA (US$)': 'Repaid to IDA',
    'Due to IDA (US$)': 'Due to IDA',
    "Cancelled Amount (US$)": "Cancelled Amount",
    'Effective Date (Most Recent)': 'Effective Date'
}

L.rename(columns=new_columns, inplace=True)

In [11]:
date_columns = ['Board Approval Date', 'Effective Date', 'End of Period']
L[date_columns] = L[date_columns].apply(pd.to_datetime, format='%m/%d/%Y %I:%M:%S %p')

In [12]:
L.dtypes

End of Period                datetime64[ns]
Credit Number                        object
Region                               object
Country                              object
Credit Status                        object
Project ID                           object
Project Name                         object
Original Principal Amount           float64
Cancelled Amount                    float64
Undisbursed Amount                  float64
Disbursed Amount                    float64
Repaid to IDA                       float64
Due to IDA                          float64
Board Approval Date          datetime64[ns]
Effective Date               datetime64[ns]
dtype: object

In [13]:
L.head()

,End of Period,Credit Number,Region,Country,Credit Status,Project ID,Project Name,Original Principal Amount,Cancelled Amount,Undisbursed Amount,Disbursed Amount,Repaid to IDA,Due to IDA,Board Approval Date,Effective Date
0,2019-05-31,IDA3546A,AFRICA,Tanzania,Fully Repaid,P073397,TZ-Lower Kihansi Env Mgmt TAL (FY02),1.633688e+06,0.00,0.00,1.872362e+06,1905929.94,0.000000e+00,2001-07-03,2001-09-18
1,2019-11-30,IDA14530,MIDDLE EAST AND NORTH AFRICA,"Yemen, Republic of",Repaying,P005789,CENTRAL HIGHLANDS AG. DEV.,8.000000e+06,1842832.13,0.00,7.658934e+06,5090428.28,3.461606e+06,1984-03-27,1985-05-01
2,2018-07-31,IDA57590,AFRICA,Liberia,Effective,P149683,Liberia Renewable Energy Access Project,2.000000e+06,0.00,2107305.00,0.000000e+00,0.00,0.000000e+00,2016-01-11,2017-10-03
3,2018-06-30,IDA38600,MIDDLE EAST AND NORTH AFRICA,"Yemen, Republic of",Repaying,P074413,RY-Groundwater & Soil Conserv Proj,4.000000e+07,0.00,0.00,4.120819e+07,3477649.23,3.468742e+07,2004-02-26,2004-08-17
4,2012-04-30,IDA38430,EAST ASIA AND PACIFIC,Vietnam,Disbursing,P059663,VN-ROAD NETWORK IMPROVEMT,2.252600e+08,24171964.90,17304070.09,1.000000e+08,0.00,1.995946e+08,2003-12-18,2004-10-25

In [14]:
L.to_csv('cleaned_dataset.csv', index=False)